.node-type-project.og-context-node #block-system-main { margin-bottom: 60px; }
.node-type-project.og-context-node .node-full.node-project { margin-bottom: 30px; }
.node-type-project.og-context-node .page-header { display: none; }
.node-type-project.og-context-node .pane-title { border-bottom: solid 1px #196240; margin-bottom: 20px; }
.node-type-project.og-context-node .pane-title h2 { color: #196240; font-size: 22px; }
.node-type-project.og-context-node .landportal-project-left { background-color: #F3F3ED; }
.node-type-project.og-context-node .landportal-project-left .panel-panel-inner { margin: 20px 10px 10px 10px; }
.node-type-project.og-context-node .landportal-project-right { padding: 0px 20px 0px 20px; }
.node-type-project.og-context-node .landportal-project-right .content-main-3, .node-type-project.og-context-node .landportal-project-right .content-main-4 { margin-bottom: 20px; }
.node-type-project.og-context-node .landportal-project-right .content-main-3 .pane-title, .node-type-project.og-context-node .landportal-project-right .content-main-4 .pane-title { margin-bottom: 20px; }
.node-type-project.og-context-node .landportal-project-right .content-main-2 { margin-top: 40px; }
.node-type-project.og-context-node .landportal-project-right .pane-title { margin-bottom: 40px; }
.node-type-project.og-context-node .landportal-project-right .field-name-title-field .field-items { font-size: 22px; font-family: "Merriweather Sans", sans-serif; font-weight: 700; line-height: normal; color: #555555; margin: 15px 0; }
.node-type-project.og-context-node .landportal-project-right h1 { /*      color: #196240;*/ font-size: 22px; }
.node-type-project.og-context-node .landportal-project-right .carousel.slide .carousel-control .icon-prev:before { content: url("../images/left.jpg"); }
.node-type-project.og-context-node .landportal-project-right .carousel.slide .carousel-control .icon-next:before { content: url("../images/right.jpg"); }
.node-type-project.og-context-node .landportal-project-right .carousel-control { background-image: none !important; }
.node-type-project.og-context-node .landportal-project-right .carousel-inner { padding: 0px 80px; }
.node-type-project.og-context-node .landportal-project-right .carousel-caption-inner { bottom: 8px; padding: 20px 40px 20px; margin: -10px auto 20px; -webkit-box-shadow: 0px 7px 14px -3px #000000; box-shadow: 0px 7px 14px -3px #000000; }
.node-type-project.og-context-node .landportal-project-right .carousel-caption-inner h3 a { color: #333333; }
.node-type-project.og-context-node .landportal-project-right .carousel-indicators li { border: solid 1px #C5D5CF; background-color: #C5D5CF; }
.node-type-project.og-context-node .landportal-project-right .carousel-indicators .active { border: solid 1px #1A5F42; background-color: #1A5F42; }
.node-type-project.og-context-node .landportal-project-right .doc-type { background-color: #196240; padding-left: 40px; }
.node-type-project.og-context-node .landportal-project-right .doc-type a { color: #fff; }
.node-type-project.og-context-node .landportal-project-right .carousel-indicators { bottom: -40px; left: 0; right: 15px; margin: 0; width: initial; top: unset; }
.node-type-project.og-context-node .container > .breadcrumb { display: none; }
.node-type-project.og-context-node .breadcrumb { padding-bottom: 0px; padding-top: 0px; background-color: #F3F3ED; color: #196240; padding-left: 0px; }
.node-type-project.og-context-node .breadcrumb .active { color: unset; }
.node-type-project.og-context-node .breadcrumb a { color: #196240; }
.node-type-project.og-context-node .breadcrumb li + li:before { content: "/ "; padding: 0 5px; color: #000; }
.node-type-project.og-context-node .breadcrumb li:nth-child(3n) { display: none; }
.node-type-project.og-context-node .pane-node-field-authors { margin-top: 15px; }
.node-type-project.og-context-node .pane-node-field-authors .pane-title { margin-bottom: 15px; }
.node-type-project.og-context-node .field-name-field-related-themes .field-item, .node-type-project.og-context-node .pane-node-field-related-topics .field-item { border-left: none; padding: 10px; border-radius: 10px; background-color: #C3D6CF; }
.node-type-project.og-context-node .field-name-field-related-themes .field-item a, .node-type-project.og-context-node .pane-node-field-related-topics .field-item a { color: #fff; }
.node-type-project.og-context-node .field-name-field-related-themes .field-item a:hover, .node-type-project.og-context-node .pane-node-field-related-topics .field-item a:hover { text-decoration: underline; }
.node-type-project.og-context-node .pane-node-field-user .pane-title { border-bottom: none; font-weight: bold; }
.node-type-project.og-context-node .pane-node-field-user a { color: #333333; }
.node-type-project.og-context-node .pane-node-field-authors .pane-title { border-bottom: none; font-weight: bold; }
.node-type-project.og-context-node .pane-node-field-authors a { color: #333333; }
.node-type-project.og-context-node .pane-node-field-implementers .views-row, .node-type-project.og-context-node .pane-node-field-donors .views-row { border-top: solid 0px #fff; }
.node-type-project.og-context-node .pane-node-field-implementers .views-row, .node-type-project.og-context-node .pane-node-field-donors .views-row { float: left; margin-right: 5px; clear: unset; }
.node-type-project.og-context-node .pane-node-field-link a { color: #333333; }
.node-type-project.og-context-node .field-name-field-geographical-focus .field-label { visibility: hidden; }
.node-type-project.og-context-node .field-name-field-geographical-focus .field-label:after { content: 'Where is it?'; visibility: visible; float: left; }
.node-type-project.og-context-node .field-name-field-geographical-focus a { color: #333333; }
.node-type-project.og-context-node .field-name-field-implementers .field-label { visibility: hidden; }
.node-type-project.og-context-node .field-name-field-implementers .field-label:after { content: 'Implementers'; visibility: visible; float: left; }
.node-type-project.og-context-node .field-name-field-implementers a { color: #333333; }
.node-type-project.og-context-node .field-name-field-donors .field-label { visibility: hidden; }
.node-type-project.og-context-node .field-name-field-donors .field-label:after { content: 'Donors'; visibility: visible; float: left; }
.node-type-project.og-context-node .field-name-field-donors a { color: #333333; }
.node-type-project.og-context-node .field-name-field-image img:not(.file-icon) { width: unset; }
.node-type-project.og-context-node .field-name-field-image .field-item.even { text-align: center; }
.node-type-project.og-context-node .view-id-views_field_formatter_for_entity_content_2 .views-row { border-top: none; }

.page-node-89117 .views-column .views-field-field-image .field-content { text-align: center; }
.page-node-89117 .views-column .cell-inner { overflow: auto; padding-bottom: 20px; -webkit-box-shadow: -2px 1px 18px -3px #000000; box-shadow: -2px 1px 18px -3px #000000; border-radius: 10px; }
.page-node-89117 .views-column .cell-inner .views-field-nothing { padding: 20px; }
.page-node-89117 .views-column .cell-inner .views-field-nothing .field-content .title { font-size: 24px; font-weight: bold; margin: 10px 0px; }
.page-node-89117 .views-column .cell-inner .views-field-nothing .field-content .title a { color: #333333; }
.page-node-89117 .views-column .cell-inner .views-field-field-geographical-focus { padding-left: 20px; background-color: #1A6140; color: #fff; }
.page-node-89117 .views-column .cell-inner .views-field-field-geographical-focus a { color: #fff; }
.page-node-89117 .views-column .cell-inner .views-field-field-geographical-focus .field-content { display: inline; font-size: 12px; }
.page-node-89117 .page-header { display: none; }
.page-node-89117 .view-views-field-formatter-for-entity-content .views-field-nothing-1 { overflow: auto; border-top: solid 1px #1A6140; padding-top: 10px; }
.page-node-89117 .view-views-field-formatter-for-entity-content .views-row { border-top: unset; }
.page-node-89117 .view-views-field-formatter-for-entity-content-2 .views-row { float: left; clear: unset; border-top: none; margin-right: 5px; }
.page-node-89117 .col-md-4.radix-layouts-sidebar.panel-panel { padding: 0px 30px; background-color: #F3F3ED; }
.page-node-89117 .col-md-4.radix-layouts-sidebar.panel-panel .field-name-title-field h1 { color: #196240; font-size: 22px; }
.page-node-89117 .col-md-4.radix-layouts-sidebar.panel-panel .field-name-title-field h1:after { border-bottom: unset; }
.page-node-89117 .container > .breadcrumb { display: none; }
.page-node-89117 .breadcrumb { padding-bottom: 0px; color: #196240; padding-left: 0px; }
.page-node-89117 .breadcrumb .active { color: unset; }
.page-node-89117 .breadcrumb a { color: #196240; }
.page-node-89117 .breadcrumb li + li:before { content: "/ "; padding: 0 5px; color: #000; }
.page-node-89117 .field-name-title-field { color: #196240; font-size: 22px; font-family: "Merriweather Sans", sans-serif; font-weight: bold; margin: 15px 0; }

.node-type-partners-page .page-header { font-size: 32px; font-weight: bold; color: #555555; padding: 10px 0px; }

/*# sourceMappingURL=project.css.map */
