.node-type-project.og-context-node {
  #block-system-main {
     margin-bottom: 60px;
   }
  .node-full.node-project {
    margin-bottom: 30px;
  }

  .page-header {
    display:none;
  }
  .pane-title {
    border-bottom: solid 1px #196240 ;
    margin-bottom: 20px;
    h2 {
      color: #196240;
      font-size:22px;
    }
  }
  .landportal-project-left {
    background-color:#F3F3ED;
     .panel-panel-inner {
        margin: 20px 10px 10px 10px;
      }
  }
  
  .landportal-project-right {
    .content-main-3, .content-main-4 {
      .pane-title {margin-bottom:20px;}
      margin-bottom:20px;
    }
    .content-main-2 {
      margin-top:40px;
    }
    .pane-title {
     margin-bottom: 40px; 
    }
    .field-name-title-field {
      .field-items {
         font-size: 22px;
         font-family: "Merriweather Sans", sans-serif;
         font-weight: 700;
         line-height: normal;
         color: #555555;
         margin: 15px 0;         
      }
    }
    
     h1 {
/*      color: #196240;*/
      font-size:22px;
    }
      padding: 0px 20px 0px 20px;
      .carousel.slide {
        .carousel-control .icon-prev:before {
         content: url('../images/left.jpg');
        }
        .carousel-control .icon-next:before {
         content: url('../images/right.jpg');
        }
      }
      .carousel-control {
        background-image: none !important;
      }
      .carousel-inner {
        padding: 0px 80px;
        .item {
        }
      }
      .carousel-caption-inner {
          bottom: 8px;
          padding: 20px 40px 20px;
          margin: -10px auto 20px;
          -webkit-box-shadow: 0px 7px 14px -3px #000000; 
          box-shadow: 0px 7px 14px -3px #000000;
        h3 {
          a {color: rgb(51,51,51);}
        }
      }
      .carousel-indicators li {
        border: solid 1px #C5D5CF;
        background-color: #C5D5CF;
      }

      .carousel-indicators .active {
        border: solid 1px #1A5F42;
        background-color: #1A5F42;
        
       }

      .doc-type {
        background-color: #196240;
        padding-left: 40px;
        a {color: #fff;}
      }
      .carousel-indicators {
        bottom: -40px;
        left: 0;
        right: 15px;
        margin: 0;
        width: initial;
        top: unset;
      }      
    }

  .container > .breadcrumb {
   display: none;
  }
  .breadcrumb {
    .active {color:unset;}
    padding-bottom: 0px;
    padding-top: 0px;
    background-color:#F3F3ED;
    color: #196240;
    padding-left: 0px;
    a {
      color: #196240;
    }
    li + li:before {
    content: "/ ";
    padding: 0 5px;
    color: #000;
    }
    li:nth-child(3n) {
      display: none;
    }
}
  .pane-node-field-authors {
    margin-top: 15px;
    .pane-title {
      margin-bottom: 15px;
    }
  }
  .field-name-field-related-themes, .pane-node-field-related-topics {
    .field-item {
      border-left: none;
      padding: 10px;
      border-radius: 10px;
      background-color: #C3D6CF;
      a {
          color:#fff;
          &:hover {
            text-decoration: underline;
          }
        }
    }
  }
  .pane-node-field-user {
    .pane-title {
      border-bottom: none;
      font-weight: bold;
    }
    a {color: rgb(51,51,51);}
  }
  .pane-node-field-authors {
     .pane-title {
      border-bottom: none;
      font-weight: bold;
    }
   a {color: rgb(51,51,51);}
  }
  .pane-node-field-implementers, .pane-node-field-donors {
    .views-row {border-top: solid 0px #fff;}
  }
  .pane-node-field-implementers, .pane-node-field-donors {
    .views-row {float:left; margin-right:5px;clear:unset;}
  }
  .pane-node-field-link { a {color: rgb(51,51,51);}}
  .field-name-field-geographical-focus {
    .field-label {visibility:hidden;}
    .field-label:after {content: 'Where is it?'; visibility:visible;float:left;}
    a {color: rgb(51,51,51);}
  }
  .field-name-field-implementers {
    .field-label {visibility:hidden;}
    .field-label:after {content: 'Implementers'; visibility:visible;float:left;}
    a {color: rgb(51,51,51);}
  }
  .field-name-field-donors {
    .field-label {visibility:hidden;}
    .field-label:after {content: 'Donors'; visibility:visible;float:left;}
    a {color: rgb(51,51,51);}
  }

  .field-name-field-image {
    img:not(.file-icon) {width: unset;}
    .field-item.even {text-align:center;}
  }
  .view-id-views_field_formatter_for_entity_content_2 {
     .views-row {
      border-top: none;
     }
   }

}

.page-node-89117 {
  .views-column {
    .views-field-field-image {
      .field-content {
        text-align:center;
      }
    }
    .cell-inner {
    overflow: auto;
    padding-bottom: 20px;
    -webkit-box-shadow: -2px 1px 18px -3px #000000; 
    box-shadow: -2px 1px 18px -3px #000000;
    border-radius: 10px;
    .views-field-nothing {
      padding: 20px; 
      .field-content {
        .title {
          font-size: 24px;
          font-weight: bold;
          margin: 10px 0px;
          a {color: rgb(51, 51, 51);}
        }
      }
    }
    .views-field-field-geographical-focus {
      padding-left: 20px;
      background-color: #1A6140;
      color: #fff;
      a {color: #fff;}
      .field-content {
        display: inline;
        font-size:12px;
      }
    }
    }
  }
  .page-header {
    display: none;
  }

  .view-views-field-formatter-for-entity-content {
    .views-field-nothing-1 {
       overflow: auto;
       border-top: solid 1px #1A6140;
       padding-top: 10px;
    } 
    .views-row {
       border-top: unset;
    }
   }
  .view-views-field-formatter-for-entity-content-2 {
    .views-row {
      float: left;
      clear: unset;
      border-top: none;
      margin-right: 5px;
    }
  }
  .col-md-4.radix-layouts-sidebar.panel-panel {
    padding: 0px 30px;
    background-color: #F3F3ED;
    .field-name-title-field {
      h1 {
        color: #196240;
        font-size: 22px;
        &:after {
          border-bottom: unset;
        } 
      }
    }
  }
 .container > .breadcrumb {
   display: none;
  }
  .breadcrumb {
    .active {color:unset;}
    padding-bottom: 0px;
    color: #196240;
    padding-left: 0px;
    a {
      color: #196240;
    }
    li + li:before {
    content: "/ ";
    padding: 0 5px;
    color: #000;
    }
}

    .field-name-title-field {
        color: #196240;
        font-size: 22px;
        font-family: "Merriweather Sans", sans-serif;
        font-weight: bold;
        margin: 15px 0;
    }
}


.node-type-partners-page {
  .page-header {
    font-size: 32px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    padding: 10px 0px;
  }
}
