.silvina .content-main-2-1 {
  background-color: #F1F1EA;
}

.field-name-field-value-decimal {
  float:left;
}

.field-name-field-currency {
  float: left;
  padding-left: 5px;
}

.view-Projects .node-project.node-teaser .field-name-field-geographical-focus .field-item {
    display: inline-block;
    white-space: normal;
    background-color: #e6f5f5;
    border-left: 5px solid #009999;
    color: #333333;
    font-family: "Merriweather Sans", sans-serif;
    padding: 3px 5px;
    margin: 3px 5px;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em;
}

.view-Projects .node-project.node-teaser .field-name-field-geographical-focus .field-item a, .view-Projects .node-project.node-teaser .field-name-field-geographical-focu .field-item a:hover {
    color: #555555;
    text-decoration: none;
}

.view-Projects .views-exposed-widgets-inner-4 {
  background-color: #EBEBE4;
  padding-bottom: 8px;
}

.view-Projects .views-exposed-widgets-inner-4 .views-widget-sort-by .control-label {
  float: left;
  padding-top: 6px;
  margin-right: 10px;
  font-size: 10pt;
}
.view-Projects .views-exposed-widgets-inner-4 .views-widget-sort-by .form-select {
  width: unset;
  float: left;
  border-radius: 0px;
}
.view-Projects .views-exposed-widgets-inner-4 .views-widget-sort-order .control-label {
  float: left;
  padding-top: 6px;
  margin-right: 10px;
  font-size: 10pt;
}
.view-Projects .views-exposed-widgets-inner-4 .views-widget-sort-order .form-select {
  width: unset;
  float: left;
  border-radius: 0px;
}


.view-Projects .views-exposed-widgets-inner-3 .view-header {
  padding: 10px 0px;
}
